
body {
  margin: 0;
  font-family: Arial, sans-serif; 
}


.Header {
  background-color: #0f486e;
  padding: 20px 0; 
  text-align: center;
  color: white;
  font-size: 24px; 
}


.homepage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  height: 80vh; 
  gap: 20px; 
}

.item-container {
  text-align: left;
  max-width: 300px; 
  border: 1px solid #ccc; 
  padding: 20px; 
  border-radius: 5px; 
}


.button {
  background-color: #0f486e; 
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}


.button:hover {
  background-color: #184c7f; 
}
